.next
node_modules
out
.env.local
.env
*.log

tsconfig.tsbuildinfo
.tmp-body.json

.desktop-pet-shell/
.husky/

ffmpeg.zip

data/
models/

public/pet-videos/
public/pet-images/
public/archive-images/

desktop-pet-shell/node_modules/
desktop-pet-shell/.user-data/
